body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img, #your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit, #stay, #reset, #instructions-btn {
    width: 85px;
    height: 42px;
    font-size: 17px;
}

.rules-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.collapsible {
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 300px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none; /* Hide the collapsible section initially */
}

.collapsible .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 10px;
}

.collapsible.expanded {
    display: block; /* Show the collapsible section when expanded */
}

.collapsible.expanded .content {
    max-height: 500px; /* Adjust this value based on the content height */
    overflow: auto;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.card {
    animation: slideInFromTop 0.5s ease-out;
}

